fastapi
uvicorn[standard]
langchain
langchain-community
langchain-huggingface
transformers
sentence-transformers
chromadb
torch
safetensors
python-multipart
PyMuPDF
pytesseract
Pillow
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.13.0
numpy==1.26.4